**/.DS_Store

#blender
*.blend[1-9]

*.idea
*.idea/

*/cache_fluid_2150e9ef
*/cache_fluid_*

*/HollowCathodeOnly/hcv3/hcv3Game/*
*/HollowCathodeOnly/hcv3/Library/
*/HollowCathodeOnly/hcv3/Library/*
*/HollowCathodeOnly/hcv3/Library*