/*meet_the_team*/
.social-media-links{
  height: 100hv;
  display: flex;
  justify-content: center;
  align-items: center;
}
    
.social-title{
  margin-top: 100px;
  margin: 150px 0px 10px 0px;
  height: 100hv;
  display: flex;
  justify-content: center;
}
    
.meet-the-team{
  margin: 75px 0px 10px 0px;
}

.name{
  float: left;
  margin: 25px 0px 10px 0px;
  width:150pt;
  height:72pt;
}

.container{
  text-align:center;
  width:1000pt;
  height: 80pt;
}

.row{
  margin: auto;
  border-radius: 25px;
  border: 3px solid #8C1D40;
  text-align:center;
  justify-content: center;
  width: 800pt;
  background: #FFC627;
}
    
.name{
  color: #8C1D40;
  text-shadow: -1px -1px 0 #eee, 1px -1px 0 #eee;
}

*{ margin: 0; padding: 0; }
    
h1{
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: #FFC627;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding-bottom: 10px;
}

h1:after{
  content: '';
  background: #333;
  display: block;
  height: 3px;
  width: 500px;
  margin: 10px auto;
}

a{
  height: 100px;
  width: 100px;
  background-color: #9F9F9F;
  border-radius: 50px;
  text-align: center;
  margin: 10px;
  line-height: 125px;
  box-shadow: 1px 4px 2px 2px gray;
}
    
a i{
  transition: all 0.3s linear;  
}

a:hover i{
  transform: scale(1.3);
}